<!doctype html>
<html lang="en">

<head>
   {{>header}}

    <title>Products</title>
</head>

<body>
  {{>navbar}}
    <div class="ml-5 mr-5 mt-5">
        <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Userame</label>
            <input type="email" class="form-control" id="name" placeholder="Enter Your Name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email </label>
            <input type="email" class="form-control" id="email" placeholder="Enter Your Email Address">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone</label>
            <input type="email" class="form-control" id="phone" placeholder="Enter Your Phone">
        </div>
          <div class="col-auto">
    <button type="submit" class="btn btn-outline-danger mb-3">Submit</button>
  </div>
    </div>
 {{>footer}}
</body>

</html>