<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    {{>Headers}}
</head>

<body>
    {{>NavBar}}
    <form action="/login" action="POST" class="justify-content-center align-items-center m-4">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="employeeName" aria-describedby="emailHelp" name="employeeName">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control" id="employeeEmail" aria-describedby="emailHelp"
                name="employeeEmail">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Phone</label>
            <input type="text" class="form-control" id="employeePhone" aria-describedby="emailHelp"
                name="employeePhone">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Department</label>
            <input type="text" class="form-control" id="employeeDepartment" aria-describedby="emailHelp"
                name="employeeDepartment">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="cPassword" name="cPassword">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{>Footers}}
</body>

</html>