<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome Page</title>
	<link rel="stylesheet" href="Welcome/welcome.css">
</head>

<body>
	<div class="background">
		<div class="container">
			<div class="row flex-column justify-content-center align-items-center text-center">
				<div class="col-sm-12 col-md-10 col-lg-8">
					<h1 id="time">12:00 AM</h1>
					<h3 id="day" class="display-5">Monday, January 01</h3>
					<h2 id="greeting">Good Morning, User.</h2>
					<h3>What would you like to inquire about today?</h3>
				</div>

			</div>
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-10 col-lg-6">
					<form action="https://www.google.com/search" method="get">
						<div class="form-group">
							<div class="input-group">
								<input type="text" name="q" class="form-control custom-input">
								<span class="input-group-btn">
									<button class="btn btn-custom" type="submit"><i class="fa fa-search"
											aria-hidden="true"></i></button>
								</span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="Welcome/welcome.js"></script>
</body>

</html>