 <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="index">Start Bootstrap</a>
      <a class="btn btn-primary" href="login">Sign In</a>
      <a class="btn btn-danger" href="signup">Sign Up</a>
      <a class="btn btn-warning" href="secret">Secret</a>
    </div>
  </nav>